.mail-preview-container{
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    position: relative;
    width: 100%;
}
.mail-preview-container >*{
  margin: 0;
  letter-spacing: 0.2px;
}

.mail-preview-container .mail-from {
  flex: 0 0 250px;
  margin-inline-end: 16px;
  }
.mail-preview-container .mail-subject {
  flex: 0 0 auto;
  margin-inline-end: 4px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  
  }
.mail-preview-container .mail-body {
  flex: 1; 
  color: var(--light-txt-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: roboto-light !important;
  max-width: 70%;
  margin-inline-end: 50px;

  
}
.mail-preview-container .mail-recieve-time{
  margin-left: auto;
  margin-right: 15px;
  white-space: nowrap;
  
}


  