.mail-preview-container{
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
}
.mail-preview-container .mail-from {
  flex: 0 0 170px;
  margin-inline-end: 16px;
  }
.mail-preview-container .mail-subject {
  flex: 0 0 auto;
  margin-inline-end: 4px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  }
.mail-preview-container .mail-body {
  flex: 1; 
  color: var(--light-txt-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}


  