.side-nav-container {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.add-mail-btn {
    background-color: var(--compose-btn-bg);
    border: none;
    width: 142px;
    height: 56px;
    border-radius: 16px;
    font-weight: 600;
    margin-block-end: 16px;
    margin-inline-start: 6px;
    font-size: 1.1em;
}

.mail-logo {
    width: 109px;
    height: auto;
    margin: 16px auto;
}

.side-nav-btn {
    background-color: transparent;
    border: none;
    width: 240px;
    height: 32px;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    padding-inline-start: 26px;
    text-align: left;
    align-items: center;
    font-size: 1.1rem;


}

.side-nav-btn:hover {
    background-color: var(--hover-side-nav-color);

}

.side-nav-btn {
    display: flex;
    gap: 18px;
}

.inbox-btn span {
    margin-inline-end: 80px;
}