.side-nav-container {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.add-mail-btn {
    background-color: var(--compose-btn-bg);
    border: none;
    width: 142px;
    height: 56px;
    border-radius: 16px;
    font-weight: 400;
    margin-block-end: 16px;
    margin-inline-start: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: roboto-regular;
}



.side-nav-btn {
    background-color: transparent;
    border: none;
    width: 240px;
    height: 32px;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    padding-inline-start: 26px;
    text-align: left;
    align-items: center;
    font-size: 14px;
    color: var(--regular-txt-color);
    font-family: roboto-regular;


}

.side-nav-btn:hover {
    background-color: var(--hover-side-nav-color);

}

.side-nav-btn {
    display: flex;
    gap: 18px;
}

.inbox-btn span {
    margin-inline-end: 80px;
}
.side-nav-btn.active {
    background-color: var(--label-hl-color);
    font-weight: bold;
    color: var(--dark-txt-color);
}