:root {
    --main-bg-color: lightblue;
    --mail-bg-color: rgb(248,250,253);
    --read-bg-color: rgb(242, 246, 252);
     --sepertor-color: rgb(238, 240, 242);
     
     
     --light-txt-color: #5F6368;
     --dark-txt-color: rgb(32, 33, 36);

}