.add-note-container {
   justify-content: center;
   align-items: center;
   margin: 10px auto;
}

.add-note-container input {
    border-radius: 5px;
    border: solid 1px rgba(211, 211, 211, 0.577);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin: 10px auto;
    width: 30vw;
    max-width: 600px;
    min-width: 30vw;

}

.add-note-container input:focus {
    outline: none;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input-wrapper input {
    padding-right: 80px;
    height: 40px;
    font-size: 16px;
    flex: 1;
}

.input-buttons {
    position: absolute;
    right: 10px;
    display: flex;
    gap: 5px;
}

.input-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    color: gray;
}

.input-buttons button:hover{
    color: black;
}
