.color-picker {
    display: flex;
    gap: 4px;
    margin-top: 8px;
}


.color-btn {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: 1px solid #ccc;
}

.note-actions-container {
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.note-preview:hover .note-actions-container {
    opacity: 1;

}

.remove-note-btn {
    border: none;
    background-color: transparent;
    color: gray;
    font-size: 1.05em;
}

.remove-note-btn:hover {
    color: black;
}

.no-notes-msg {
    text-align: center;
    padding: 2em;
    color: #888;
    font-size: 1.2rem;
}

.pin-note-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    color: gray;
    font-size: 1.1em;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 6px;
    transition: background-color 0.2s ease;
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.note-preview:hover .pin-note-btn {
    opacity: 1;
}

.pin-note-btn:hover {
    background-color: rgba(60, 64, 67, 0.1);
}

.pin-note-btn .pinned {
    color: #fbbc04;
}

.pin-note-btn:hover {
    color: black;
}

.note-preview {
    position: relative;
}

.pin-note-btn i {
    transition: color 0.2s ease;
}

.note-preview.pinned .pin-note-btn {
    opacity: 1;
}

.note-list-wrapper {
    padding: 1em;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.note-group {
    margin-bottom: 2em;
}

.note-list-container {
    column-count: 4;
    column-width: 240px;
    padding: 1em;
    justify-self: center;
    position: relative;
    margin-top: 40px;
}

.section-title {
    font-size: 1.1em;
    color: #444;
    margin-bottom: 0.5em;
    padding-inline-start: 0.3em;
    font-weight: normal;
    position: absolute;
    top: -10px;
    left: 25px;
    text-transform: uppercase;
}

.duplicate-note-btn {
    border: none;
    background-color: transparent;
    color: gray;
    cursor: pointer;
    margin: 0 5px;
    font-size: 1.1em;
}

.duplicate-note-btn:hover {
    color: black;
}