.note-preview {
    background-color: rgb(240, 246, 249);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    height: fit-content;
    margin: 25px 10px;
    margin-top: 0;
    width: 240px;
    overflow: hidden;
    border: 1px solid rgba(211, 211, 211, 0.633);
}

.note-preview button {
    margin: 5px;
}

.note-preview:hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.note-info h3 {
    font-weight: normal;
    margin: 10px;
    margin-top: 30px;
}

.note-info img {
    margin: 10px;
    width: 90%;
}