footer {
    background: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid lightgrey;
}

.app-footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: fit-content;
    text-align: center;
}

.links-container-footer {
    display: flex;
    gap: 10px;
}
.links-container-footer>* {
    text-decoration: underline;
}

nav :active {
    color: purple;
}

nav .active {
    color: darkblue;
   font-family: roboto-bold, Arial, Helvetica, sans-serif;
    text-decoration: overline;
}