footer {
    background: white;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid lightgrey;
}

.app-footer {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: fit-content;
}

.links-container-footer {
    display: flex;
    gap: 10px;
}
.links-container-footer>* {
    text-decoration: underline;
}


/* nav  {
    margin: .5em;
} */

nav :active {
    color: purple;
}

nav .active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}