.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.main-logo-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: center;
}
.main-logo-container p {
   margin: 0;
   font-size: 1.4rem;
   color: var(--regular-txt-color);
}
.main-logo-container img {
    width:300px;
 }

.icons-nav-container {
   
    display: flex;
    width: 100vw;
    
    justify-content: center;
    align-content: center;
    gap: 200px;
    margin-top:300px;
}

.icons-nav-container>* {
    grid-row: 1;
}

.icons-nav-container img {
    cursor: pointer;
    height: auto;
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter 0.5s;
}

.icons-nav-container img:hover {
    transform: scale(1.02);
    filter: unset;
    
}


.note-logo-home {
    width: 170px;
}

.mail-logo-home {
    width: 300px;
}